extends template
block variables 
	-var active_page = "famous_knife"
	-var title = "famous_knife"
	-var reflist = {}
	-var textlist = ["Штык нож ак 47 использовался солдатами армии нашей страны на протяжении периода около 10 лет. Он состоял из однолезвийного клинка, оснащенного одной долой, и клепаной двумя винтами рукояти, состоявшей из двух пластмассовых половинок. Крепился нож к стволу автомата с помощью соответствующего кольца, двух скоб, размещенных в основании рукояти, и пружинного замка, находящегося в хвостовике. На представленном в интернет-сети фото штык ножа ак 47 можно увидеть, что данный инструмент повторяет форму использовавшихся во время II мировой автоматических винтовок, но, в то же время, он является превосходным образцом кинжального боевого оружия, которое станет украшением любой коллекции."]
	-var imglist = ["img/shtyk-noj-ak-47.jpg"]
	-var videolist = []
block header 
	header 
		h2 #[i Knives guide - расскажет и покажет всё необходимое, что нужно знать о ножах]
		hr
block content 
	.text2
		h2 Советские штык-ножи для АК и АКМ 
		hr
	.text3
		p Кроме того, штык нож ак 47 имеет отличные характеристики:
		ul 
			li клинок с высокоуглеродистой легированной стали, которая затачивается до идеальной остроты;
			li качественная проковка и закалка лезвия;
			li строгий, но привлекательный дизайн, состоящий из классического сочетания металла и дерева;
			li оптимальные параметры в 27,7 см длины изделия, комфортной 10,5 см рукояти и 0,4 см толщины клинка.